@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background: #d4f2ef;
  color: #2e2e3a;
  scroll-behavior: smooth;

}